---
const acceptLanguage = Astro.request.headers.get('accept-language') ?? '';
const preferredLang = acceptLanguage.split(',')[0].split('-')[0];
const supported = ['es', 'en'];
const redirectLang = supported.includes(preferredLang) ? preferredLang : 'es';

return Astro.redirect(`/${redirectLang}/`);
---
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0; url=/${redirectLang}/" />
  </head>
  <body>
    <p>Redirigiendo a <a href={`/${redirectLang}/`}>/{redirectLang}/</a>...</p>
  </body>
</html>
