---
import { Card, CardGrid } from '@astrojs/starlight/components';
---

<style>
  .colab-flex {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  .colab-img {
    border-radius: 50%;
    border: 2px solid #306998;
    width: 130px;
    height: 130px;
  }
  .colab-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .colab-name {
    font-weight: bold;
    font-size: 1.1em;
  }
  .colab-role,
  .colab-link {
    color: #306998;
    transition: color 0.3s;
  }
  .colab-role {
    font-size: 0.98em;
    margin-bottom: 0.3em;
  }
  .colab-link {
    text-decoration: underline;
    font-size: 0.95em;
  }
  :root[data-theme="dark"] .colab-img {
    border-color: #FFD43B;
  }
  :root[data-theme="dark"] .colab-role,
  :root[data-theme="dark"] .colab-link {
    color: #FFD43B;
  }
</style>

<CardGrid>
  <Card title="Nelson-5553">
    <div class="colab-flex">
      <img src="https://github.com/Nelson-5553.png" alt="Nelson-5553" class="colab-img" />
      <div class="colab-info">
        <div class="colab-name">Nelson-5553</div>
        <div class="colab-role">Core Developer</div>
        <a href="https://github.com/Nelson-5553" target="_blank" class="colab-link">Ver perfil en GitHub</a>
      </div>
    </div>
  </Card>

  <Card title="serg1l">
    <div class="colab-flex">
      <img src="https://github.com/serg1l.png" alt="serg1l" class="colab-img" />
      <div class="colab-info">
        <div class="colab-name">serg1l</div>
        <div class="colab-role">Documentation</div>
        <a href="https://github.com/serg1l" target="_blank" class="colab-link">Ver perfil en GitHub</a>
      </div>
    </div>
  </Card>
</CardGrid>
