---
// src/components/PyTable.astro
interface Props {
  headers: string[];
  rows: any[][];
}

const { headers, rows} = Astro.props;
---


<table class="py-table">

  <thead>
    <tr>
      {headers.map((header, idx) => (
        <th class={idx === 0 ? "text-center" : "text-left"}>{header}</th>
      ))}
    </tr>
  </thead>
  <tbody>
    {rows.map((row) => (
      <tr>
        {row.map((cell, idx) => (
          <td class={idx === 0 ? "text-center" : "text-left"}>{cell}</td>
        ))}
      </tr>
    ))}
  </tbody>
</table>




<style>
  .py-table {
    width: 100%;
    font-family: 'Inter', 'Helvetica', sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    overflow-x: auto;
  }

  .py-table th, .py-table td {
    padding: 5px 10px;
    font-size: 0.88rem;
    width: 20.33%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .py-table th.text-center, .py-table td.text-center {
    text-align: center;
    
  }

  .py-table th.text-left, .py-table td.text-left {
    text-align: left;
    
  }

  .py-table tbody td{
  vertical-align: middle;  /* alineación vertical */
  text-align: center;
}



  /* 🌞 Modo claro */
  :root:not([data-theme="dark"]) .py-table {
    color: black;
    border-color: rgb(203, 203, 203);
    background-color: white;
  }

  :root:not([data-theme="dark"]) .py-table th {
    background: #306998d3;
    color: white;
  }

  :root:not([data-theme="dark"]) .py-table th, 
  :root:not([data-theme="dark"]) .py-table td {
    border-color: rgb(203, 203, 203);
  }


  /* 🌙 Modo oscuro (usando data-theme="dark") */
  :root[data-theme="dark"] .py-table {
    color: #eee;
    border-color: #444;
    background-color: #1e1e1e00;
  }

  :root[data-theme="dark"] .py-table th {
    background-color: #ffd53be1; /* Amarillo de Python */
    color: black;
  }

  :root[data-theme="dark"] .py-table td, 
  :root[data-theme="dark"] .py-table th {
    border-color: #444444;
  }

</style>
